{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina inicial</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

    <h1>Página inicial</h1>

    <h3> {{ curso }}</h3>
<table>
<thead><tr>
<th>Nome</th>
<th>Preço</th>
</tr>
</thead>


    <tbody>
    {% for produto in produtos %}
    <tr>

        <td><a href="{% url 'produto' produto.id %}"> {{ produto.nome }}</a> </td>

        <td> {{ produto.preco }} </td>


    </tr>
    {% endfor %}

    <button onclick="teste()"> me clique</button>
</tbody>
</table>



</body>
<script src=" {% static 'js/script.js'%}"></script>
</html>